body.g1-layout-boxed {
background-color: #fafafa;
}

.g1-layout-boxed .g1-row-layout-page {
max-width: 1212px;
}

/* Global Color Scheme */
.g1-sharebar > .g1-row-background {
background-color: #ffffff;
}

a,
.entry-title > a:hover,
.entry-meta a:hover,
.menu-item > a:hover,
.current-menu-item > a,
.mtm-drop-expanded > a,
.g1-nav-single-prev > a > span:before,
.g1-nav-single-next > a > span:after,
.g1-nav-single-prev > a:hover > strong,
.g1-nav-single-prev > a:hover > span,
.g1-nav-single-next > a:hover > strong,
.g1-nav-single-next > a:hover > span,
.mashsb-count,
.archive-title:before,
.snax .snax-item-title > a:hover {
color: #cc0000;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.g1-button-solid,
.g1-button-solid:hover,
.g1-arrow-solid,
.entry-categories .entry-category:hover, .author-link,
.author-info .author-link,
.g1-box-icon,
.snax .snax-voting-simple .snax-voting-upvote:hover,
.snax .snax-voting-simple .snax-voting-downvote:hover,
.wyr-reaction:hover .wyr-reaction-button,
.wyr-reaction-voted .wyr-reaction-button,
.wyr-reaction .wyr-reaction-bar {
border-color: #cc0000;
background-color: #cc0000;
color: #ffffff;
}

.entry-counter:before {
border-color: #cc0000;
background-color: #cc0000;
color: #cc0000;
}

.entry-counter:after {
color: #ffffff;
}



.g1-button-simple,
input.g1-button-simple,
button.g1-button-simple {
border-color: currentColor;
background-color: transparent;
color: #cc0000;
}



.g1-drop-toggle-arrow {
color: #ffffff;
}


.g1-quick-nav-tabs .menu-item-type-g1-trending > a,
.entry-flag-trending {
border-color: #bf0029;
background-color: #bf0029;
color: #fff;
}

.g1-quick-nav-tabs .menu-item-type-g1-hot > a,
.entry-flag-hot {
border-color: #ff0036;
background-color: #ff0036;
color: #fff;
}

.g1-quick-nav-tabs .menu-item-type-g1-popular > a,
.entry-flag-popular {
border-color: #ff577b;
background-color: #ff577b;
color: #fff;
}












.g1-preheader .menu-item a,
.g1-preheader .g1-drop-toggle,
.g1-preheader .g1-socials-item-link {
	color: #666666;
}

.g1-preheader .menu-item:hover > a,
.g1-preheader .current-menu-item > a,
.g1-prenavbar .current-menu-ancestor > a,
.g1-preheader .menu-item-object-post_tag > a:before,
.g1-preheader .g1-drop-toggle:hover,
.g1-preheader .g1-socials-item-link:hover {
	color: #000000;
}

.g1-preheader > .g1-row-background {
			background-clip: padding-box;
	
	background-color: #ffffff;

	}
/*customizer_preview_margins*/




@media only screen and ( min-width: 801px ) {
	.g1-hb-row-normal  .g1-id ,
	.g1-header .g1-id {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.g1-hb-row-normal  .g1-quick-nav ,
	.g1-header .g1-quick-nav {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.g1-hb-row-mobile  .g1-id ,
.g1-header .g1-id {
	margin-top: 10px;
	margin-bottom: 10px;
}

.g1-hb-row-mobile  .g1-id ,
.g1-header .g1-id {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*customizer_preview_margins_end*/


.g1-header .menu-item > a,
.g1-header .g1-hamburger,
.g1-header .g1-drop-toggle,
.g1-header .g1-socials-item-link {
color: #ffffff;
}

.g1-header .menu-item:hover > a,
.g1-header .current-menu-item > a,
.g1-navbar .current-menu-ancestor > a,
.g1-header .menu-item-object-post_tag > a:before,
.g1-header .g1-socials-item-link:hover {
color: #000000;
}

.g1-header > .g1-row-background {
	

	background-color: #cc0000;

		background-image: -webkit-linear-gradient(to right, #cc0000, #ffbb01);
	background-image:    -moz-linear-gradient(to right, #cc0000, #ffbb01);
	background-image:      -o-linear-gradient(to right, #cc0000, #ffbb01);
	background-image:         linear-gradient(to right, #cc0000, #ffbb01);
	}


.g1-navbar,
.g1-hb-background {
border-color: #ffffff;
background-color: #ffffff;
}


.g1-navbar .menu-item > a,
.g1-navbar .g1-hamburger,
.g1-navbar .g1-drop-toggle,
.g1-navbar .g1-socials-item-link {
color: #666666;
}

.g1-navbar .menu-item:hover > a,
.g1-navbar .current-menu-item > a,
.g1-navbar .current-menu-ancestor > a,
.g1-navbar .menu-item-object-post_tag > a:before,
.g1-navbar .g1-socials-item-link:hover {
color: #000000;
}

.g1-navbar .sub-menu,
.g1-header .sub-menu,
.g1-preheader .sub-menu {
border-color: #ffffff;
background-color: #ffffff;
}

.g1-navbar .sub-menu .menu-item > a,
.g1-header .sub-menu .menu-item > a,
.g1-g1-preheader .sub-menu .menu-item > a {
color: #666666;
}

.g1-header .g1-link-toggle,
.g1-navbar .g1-link-toggle {
color: #ffffff;
}

.g1-navbar .sub-menu .menu-item:hover > a,
.g1-header .sub-menu .menu-item:hover > a,
.g1-preheader .sub-menu .menu-item:hover > a,
.g1-navbar .sub-menu .current-menu-item > a,
.g1-header .sub-menu .current-menu-item > a,
.g1-preheader .sub-menu .current-menu-item > a,
.g1-navbar .sub-menu .current-menu-ancestor > a,
.g1-header .sub-menu .current-menu-ancestor > a,
.g1-preheader .sub-menu .current-menu-ancestor > a {
color: #fb631e;
}

.g1-header .g1-drop-toggle-badge,
.g1-header .snax-button-create,
.g1-header .snax-button-create:hover,
.g1-navbar .g1-drop-toggle-badge,
.g1-navbar .snax-button-create,
.g1-navbar .snax-button-create:hover {
	border-color: #000000;
	background-color: #000000;
	color: #ffffff;
}

	/*customizer_preview_a_row*/
	.g1-hb-row-a .menu-item > a,
	.g1-hb-row-a .g1-hamburger,
	.g1-hb-row-a .g1-drop-toggle,
	.g1-hb-row-a .g1-socials-item-link{
		color:#666666;
	}

	.g1-hb-row-a .g1-row-background {
		

		background-color: #ffffff;

			}

	.g1-hb-row-a .menu-item:hover > a,
	.g1-hb-row-a .current-menu-item > a,
	.g1-hb-row-a .current-menu-ancestor > a,
	.g1-hb-row-a .menu-item-object-post_tag > a:before,
	.g1-hb-row-a .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-a .g1-drop-toggle-badge,
	.g1-hb-row-a .snax-button-create,
	.g1-hb-row-a .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_a_row_end*/
	/*customizer_preview_b_row*/
	.g1-hb-row-b .menu-item > a,
	.g1-hb-row-b .g1-hamburger,
	.g1-hb-row-b .g1-drop-toggle,
	.g1-hb-row-b .g1-socials-item-link{
		color:#ffffff;
	}

	.g1-hb-row-b .g1-row-background {
		

		background-color: #cc0000;

					background-image: -webkit-linear-gradient(to right, #cc0000, #ffbb01);
			background-image:    -moz-linear-gradient(to right, #cc0000, #ffbb01);
			background-image:      -o-linear-gradient(to right, #cc0000, #ffbb01);
			background-image:         linear-gradient(to right, #cc0000, #ffbb01);
			}

	.g1-hb-row-b .menu-item:hover > a,
	.g1-hb-row-b .current-menu-item > a,
	.g1-hb-row-b .current-menu-ancestor > a,
	.g1-hb-row-b .menu-item-object-post_tag > a:before,
	.g1-hb-row-b .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-b .g1-drop-toggle-badge,
	.g1-hb-row-b .snax-button-create,
	.g1-hb-row-b .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_b_row_end*/
	/*customizer_preview_c_row*/
	.g1-hb-row-c .menu-item > a,
	.g1-hb-row-c .g1-hamburger,
	.g1-hb-row-c .g1-drop-toggle,
	.g1-hb-row-c .g1-socials-item-link{
		color:#666666;
	}

	.g1-hb-row-c .g1-row-background {
		

		background-color: #ffffff;

			}

	.g1-hb-row-c .menu-item:hover > a,
	.g1-hb-row-c .current-menu-item > a,
	.g1-hb-row-c .current-menu-ancestor > a,
	.g1-hb-row-c .menu-item-object-post_tag > a:before,
	.g1-hb-row-c .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-c .g1-drop-toggle-badge,
	.g1-hb-row-c .snax-button-create,
	.g1-hb-row-c .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_c_row_end*/
/*customizer_preview_canvas*/
.g1-canvas-content,
.g1-canvas-toggle,
.g1-canvas-content .menu-item > a,
.g1-canvas-content .g1-hamburger,
.g1-canvas-content .g1-drop-toggle,
.g1-canvas-content .g1-socials-item-link{
	color:#666666}

.g1-canvas-content .menu-item:hover > a,
.g1-canvas-content .current-menu-item > a,
.g1-canvas-content .current-menu-ancestor > a,
.g1-canvas-content .menu-item-object-post_tag > a:before,
.g1-canvas-content .g1-socials-item-link:hover {
	color:#cc0000}

.g1-canvas-global {
	background-color: #ffffff;
		}

.g1-canvas-background {
				opacity: 1;
}

.g1-canvas-content .snax-button-create {
	border-color: #dd3333;
	background-color: #dd3333;
	color: #ffffff;
}
/*customizer_preview_canvas_end*/

/*customizer_preview_submenu*/
.g1-hb-row .sub-menu {
border-color: #ffffff;
background-color: #ffffff;
}

.g1-hb-row .sub-menu .menu-item > a {
color: #666666;
}

.g1-hb-row .g1-link-toggle {
color: #ffffff;
}

.g1-hb-row .sub-menu .menu-item:hover > a,
.g1-hb-row .sub-menu .current-menu-item > a,
.g1-hb-row .sub-menu .current-menu-ancestor > a {
color: #fb631e;
}
/*customizer_preview_submenu_row_end*/
/* Prefooter Theme Area */
.g1-prefooter > .g1-row-background,
.g1-prefooter .g1-current-background {
background-color: #1b1d1f;
}


.g1-prefooter h1,
.g1-prefooter h2,
.g1-prefooter h3,
.g1-prefooter h4,
.g1-prefooter h5,
.g1-prefooter h6,
.g1-prefooter .g1-mega,
.g1-prefooter .g1-alpha,
.g1-prefooter .g1-beta,
.g1-prefooter .g1-gamma,
.g1-prefooter .g1-delta,
.g1-prefooter .g1-epsilon,
.g1-prefooter .g1-zeta,
.g1-prefooter blockquote,
.g1-prefooter .widget_recent_entries a,
.g1-prefooter .widget_archive a,
.g1-prefooter .widget_categories a,
.g1-prefooter .widget_meta a,
.g1-prefooter .widget_pages a,
.g1-prefooter .widget_recent_comments a,
.g1-prefooter .widget_nav_menu .menu a {
color: #fafafa;
}

.g1-prefooter {
color: #bfbfbf;
}

.g1-prefooter .entry-meta {
color: #999999;
}

.g1-prefooter input,
.g1-prefooter select,
.g1-prefooter textarea {
border-color: #4a5056;
}

.g1-prefooter input[type="submit"],
.g1-prefooter input[type="reset"],
.g1-prefooter input[type="button"],
.g1-prefooter button,
.g1-prefooter .g1-button-solid,
.g1-prefooter .g1-button-solid:hover,
.g1-prefooter .g1-box-icon {
border-color: #ffffff;
background-color: #ffffff;
color: #ffffff;
}


/* Footer Theme Area */
.g1-footer > .g1-row-background,
.g1-footer .g1-current-background {
background-color: #1b1d1f;
}

.g1-footer {
color: #bfbfbf;
}

.g1-footer-text {
color: #999999;
}

.g1-footer a:hover,
.g1-footer-nav a:hover {
color: #ffffff;
}
.g1-dark { color: rgba(255, 255, 255, 0.8); }

.g1-dark h1,
.g1-dark h2,
.g1-dark h3,
.g1-dark h4,
.g1-dark h5,
.g1-dark h6 {
	color: #fff;
}


.g1-dark .g1-meta { color: rgba(255, 255, 255, 0.6); }
.g1-dark .g1-meta a { color: rgba(255, 255, 255, 0.8); }
.g1-dark .g1-meta a:hover { color: rgba(255, 255, 255, 1); }

.g1-dark .archive-title:before {
	color: inherit;
}


